body {
    margin: 0;
    background: rgb(234, 233, 232);
    text-align: center;
    font-family: "Charter", Georgia, "Times New Roman", serif;
}

.sidebar {
  position: absolute; /* Keeps it fixed in place */
  left: 20px; /* Moves it to the left */
  top: 50px; /* Adjusts spacing from the top */
  width: 200px; /* Set a fixed width */
  text-align: left; /* Aligns text to the left */
  transition: transform 0.3s ease-in-out;
}

/* Hide sidebar when toggled */
.sidebar.hidden {
  transform: translateX(-100%);
}

#ToggleSidebar {
  position: absolute;
  left: 20px;
  border: none;
  background-color: rgb(234, 233, 232);
  font-size: 25px;
  transition: 0.3s;
}

#ToggleSidebar:hover {
  font-size: 35px;
  cursor: pointer;
}

/* Change link color */
a {
  color: black; /* Change to any color you want */
  text-decoration: none; /* Remove underline */
  font-size: 18px;
}

/* Change link color on hover */
a:hover {
  color: gray; /* Change to any color you prefer */
  text-decoration: underline; /* Optional: underline on hover */
  
}

.sidebar a {
  display: block;
  margin-bottom: 20px;
}

#title {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 8px;
}

#BigTitle {
  font-size: 40px;
}

#date {
  color: rgb(95, 93, 93);
  font-weight: 10px;

}


